.ssai-ad-container {
  display: none;
  position: absolute;
  top: 10px;
  background: #d4a900;
  padding: 4px 8px;
  left: 10px;
}

.ssai-ad-container .ad-counter {
	background: rgb(212, 169, 0);
	color: black;
	padding: 2px 0px;
	font-size: 12px;
	border-radius: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	user-select: none;
  font-weight: bold;
}

.ssai-ad-container .ad-timer {
	color: black;
	font-size: 10px;
	border-radius: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 400px;
	left: 5.2rem;
	user-select: none;
}

